*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color:#2199DF;
  text-decoration: none;
}

ul{
  margin-left: 1.5rem;
  list-style: none;
}

button,
input[type="submit"]{
  border: none;
  background: none;
  color: red;
  cursor: pointer;
  padding: 10px;
  font-size: 1.4rem;

}

#header{
  display: flex;
  background-color: lightcyan;
  justify-content: space-between;
  align-items: center;
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input{
  width: 50%;
  margin-top: 1rem;
  padding: 8px;
  outline: none;
  border: 1px solid lightseagreen;
  border-radius: 10px;
}
.register-input:focus{
  box-shadow: inset 0px 0px 5px rgba(120, 231, 123, .7);
}
.submit-button{
  font-size: 1rem;
  background-color: lightgreen;
  height: 100%;
  width: 6rem;
  border-radius: 10px;
  outline: none;
  margin-top: 1rem;
}
h2{
  color: lightsalmon;
  text-align: center;
  font-size: 2.1rem;
}
.error-notice{
  text-align: center;
  background-color: lightpink;
  position: absolute;
  right: 0;
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.error-notice span{
  padding-left: 3%;
}

.error-notice>button{
  background-color: tomato;
  color: wheat;
  outline: none;
} 